{:kotoba.app/id "cloud.itonami.unspsc-27", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiclhgpulz3qxmkkvqlume4ullelai4b2r2vzzclda4lanzy4ocjri", :kotoba.app/embed-url "ipfs://bafkreiclhgpulz3qxmkkvqlume4ullelai4b2r2vzzclda4lanzy4ocjri", :published {:archive "https://kotobase.net/ipfs/bafkreiclhgpulz3qxmkkvqlume4ullelai4b2r2vzzclda4lanzy4ocjri", :size 72458, :put-status 201, :get-status 200, :at "2026-08-15T13:56:47.788Z"}}
